/*=========================== GOOLGE FONTS =========================== */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');


/* ================ VARIABLE CSS =================== */
:root {
  --header-heght: 3.5rem;

  /* ================  Colors =================== */
  --first-color: hsl(38, 69%, 59%);
  --text-color: hsl(38, 8%, 8%);

  /* ================ Font and typography =================== */
  --body-font: 'Space Grotesk', sans-serif;
  --biggest-font-size: 2.375rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

/* ================ Responsive typography =================== */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/* ================ BASE =================== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ================ REUSABLE CSS =================== */
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main {
  overflow: hidden;
  /* for the animation scroll */

}

/* ================ HAEDER & NAV =================== */
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
}

nav {
  height: var(--header-heght);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  color: var(--text-color);
  display: inline-flex;
}

.nav-logo {
  font-weight: 700;
}

.nav-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: #131212;
    left: 0;
    top: -100%;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
    transition: .4s;
  }
}

.nav-list {
  display: flex;
  text-align: center;
  flex-direction: column;
  row-gap: 2rem;
}

.nav-link {
  color: var(--text-color);
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

/* show menu */
.show-menu {
  top: 0;
}

/* ================= HOME ================ */
.home {
  /* background: linear-gradient(to bottom left, var(--first-color), #CCCCCC); */
  background-image: radial-gradient(#dddddd,rgb(70, 67, 67));
  padding: 9rem 0 2rem;
  height: 100vh;
  display: grid;
}

.home-container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}

.home-data {
  text-align: center;
}

.home-title {
  font-size: var(--biggest-font-size);
}

.home-button {
  margin-top: 2rem;
  display: inline-flex;
  background-color: var(--text-color);
  color: #fff;
  padding: .80rem 2.5rem;
  border-radius: 3rem;
  transition: .4s;
}

.home-hover {
  box-shadow: 0 4px 12px hsl(38, 69%, 8%, .2);
}

.home-img img {
  width: 230px;
  animation: floaty 1.8s infinite alternate;
}

.home-img {
  justify-self: center;
}

.home-shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, .16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

.home-footer {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}

/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(.85, .85);
  }
}

/* =================== BREAKPOINTS =================== */

/* for smaller devices */
@media screen and (max-width:550px) {
  .home {
    padding-top: 7rem;
  }
  .nav-link{
    color: #fff ;
  }
}

/* for medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-heght) + 1.5rem);
  }

  .nav-toggle,
  .nav-close {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
}

/* for large devices */
@media screen and (min-width: 1024px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }

  .home-data {
    text-align: initial;
  }

  .home-img img {
    width: 400px;
  }

  .home-shadow {
    width: 250px;
    height: 40px
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* for 2k resolution devices */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .home {
    height: initial;
    row-gap: 4rem;
  }
}

/* for 4k resolution devices */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}